[submodule "Scipio/vendor/spdlog"]
	path = Scipio/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Scipio/vendor/GLFW"]
	path = Scipio/vendor/GLFW
	url = https://github.com/jeffredmonds/glfw.git
[submodule "Scipio/vendor/imgui"]
	path = Scipio/vendor/imgui
	url = https://github.com/jeffredmonds/imgui
